@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    box-sizing: border-box;
    width: 100%;
    height: 2.125rem;
    margin-top: 0;
    padding: 0.25rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    @apply border-gray-950;
    font-size: 1rem;
    line-height: 1.25rem;

    /* Disable inner shadow and remove rounded corners */
    appearance: none;

    &:focus {
      outline-width: 3px;
      outline-style: solid;
      @apply outline-yellow-400;
      /* Ensure outline appears outside of the element */
      outline-offset: 0;
      /* Increase the border. Use `box-shadow` for this // instead of changing `border-width` - this is for consistency with
     * components such as textarea where we avoid changing `border-width` as
     * it will change the element size. Also, `outline` cannot be utilised
     * here as it is already used for the yellow focus state.
     */
      box-shadow: inset 0 0 0 1px;
      @apply shadow-gray-950;
    }

    &:disabled {
      opacity: 0.5;
      color: inherit;
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  button,
  [type="button"] {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    padding-top: 0.25rem;
    padding-bottom: calc(0.25rem - 1px);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    border-bottom-width: 2px;
    border-style: solid;
    color: black;
    @apply border-neutral-400;
    @apply bg-neutral-200;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    appearance: none;

    &:hover {
      @apply bg-neutral-300;
    }

    &:active {
      /* Bump the button down so it looks like its being pressed in */
      top: 1px;
    }

    &:focus {
      @apply bg-yellow-400;
      border-color: currentColor;
    }

    &[disabled] {
      opacity: (0.5);

      &:hover {
        @apply bg-neutral-200;
        cursor: not-allowed;
      }

      &:active {
        top: 0;
      }
    }
  }
}

@layer components {
  .grid-cols-entries {
    grid-template-columns: 5fr 4fr repeat(5, 2.5ch);
  }

  .button-warning {
    color: white;
    @apply border-red-950;
    @apply bg-red-600;

    &:hover {
      @apply bg-red-700;
    }

    &:focus {
      color: black;
      @apply bg-yellow-400;
      border-color: currentColor;
    }
  }
}
